@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Young+Serif&display=swap');
body{
    font-family: 'Outfit', sans-serif !important;
    background-color: #fbe1d3 !important;
}
h1, h3 {
    font-family: 'Young Serif', serif;
}
.bg-red {
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.225);
}

.head {
    color: #ee9b00;
}

.text-nutrition{
    padding-right: 50%;
}

.main {
    width: 50% !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
    .main {
        width: 75% !important;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 546px) {
    .main {
        width: 100% !important;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}